

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #94c8f1;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(223, 64, 64, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  
  h3 {
    font-size: 40px;
    line-height: 20px;
    vertical-align: bottom;
  }
