

  .grid-container {
    display: grid;
    grid-template-columns: auto ;
    background-color: #94c8f1;
    padding: 10px;
  }
  .grid-item {
    /* -moz-box-shadow: 0 0 10px rgba(0,0,0,.3); */
    /* -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3); */
    background-color: rgba(97, 94, 245, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }

  .input-pos {
    width: 500px;
    position: relative;
    left: 250px
  }
  
  h3 {
    
    font-size: 40px;
    line-height: 20px;
    vertical-align: bottom;
    text-align: start;
  }
  /* img {
    border-radius: 30%;
  } */