<h2>Available Causes To Support</h2>

<% if current_user&.admin? %>
  <form action="/causes/new" method='get'>
    <button type="submit" class="btn btn-primary">Add New Cause</button>
  </form>
<% end %>

<div class="grid-container">
  <% Cause.all.each do |cause| %>
    <div class="grid-item wrapper" >
      <form action='/causes/<%= cause.slug %>' method='get'>
          <img src="<%= cause.image_link %>" alt="<%= cause.name %>" width="120" height="120" style="float:left;margin:0px 50px" >
          <h3><%= cause.name %></h3>
          <button type="submit" class="btn btn-primary">More Details</button>
      </form>
    </div>
  <% end %>
</div>
