<h1><%= @cause.title %></h1>
<div style="background-color: lightblue;hight:100px;width:550px">
  <img src="../<%= @cause.image_link %>" alt="<%= @cause.title %>" width="120" height="130" style="vertical-align:middle;float:left;margin:0px 50px" >
  <p><%= @cause.description %></p>
              
</div>