<h1>Make A Donation.</h1>

    <form action="/donations" method="post">
      <div class="form-group" style="width: 500px;position: relative;left: 280px">

        <% Donation::PRESET_AMOUNTS.each do |amount| %>
          <p><input type="radio" id="<%= amount %>" name="preset" value="<%= amount %>"><%= amount%>&</p>
        <% end %>


        <label for="name">Or Enter Different Amount In Dollars<span style="color:red;"><%= @advocate&.errors&.[](:name)&.[](0) %></span></label><br>
        <input type="text" name="different" id="name" class="form-control" placeholder="Enter Donation Amount In Dollars" aria-describedby="helpId"><br>
        
        <button type="submit" class="btn btn-primary"><i class="fas fa-donate">Donate</i></button>
        
      </div>
    </form>