
<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% else %>
  <h3>Welcom <%= @advocate.name %></h3>
<% end %>

<h4>
  Ready To Make Some Donations, Visit 
  <H6> 
  <form action="/advocates" method='get'>
      <button type="submit" class="btn btn-primary">Home</button>
  <form> Your Account.
  </h6> 
  Or 
</h4>

<H6> 
  <form action="/advocates/<%= @advocate.slug %>/edit" method='get'>
      <button type="submit" class="btn btn-primary">Edit</button>
  <form> Your Account.
</h6>
