




  <%# <header><img src="images/im2.gif" class="img-responsive main-image"></header> %>
  
    <h2>Sinatra Template Default Page</h2>
    <div class="grid-container">
      <% Cause.all.each do |cause| %>
        <div class="grid-item">
          
            <a href="https://www.kooora.com/default.aspx?tz=12&tzchanged=true">
              <img src="<%= cause.image_link %>" alt="<%= cause.title %>" width="120" height="120" style="float:left;margin:0px 50px" >
              <h3><%= cause.title %></h3>
            </a>
            
          
        </div>
      <% end %>
      
    </div>
    
    

